*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, li, ul, p{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container{
    padding: 20px;
}

body{
    background: #0C0D2E;
}

/* ******************************************************************************** */

.nav{
    background: #0C0D2EE5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    position: relative;
    z-index: 10;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.link{
    color: #fff;
    font-size: 18px;
    padding-right: 15px;
    transition: 0.5s;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.link:hover{
    color: #189CE8;
}

.btn__nav{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 16px;
    transition: 0.5s;
    margin-right: 10px;
    margin-left: 10px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn__nav:hover{
    color: #0C0D2E;
    background: #fff;
}

.nav__btn{
    color: #fff;
    background: #0C0D2E;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 16px;
    transition: 0.5s;
    margin-right: 10px;
    margin-left: 10px;
    display: none;
    width: 164px;
    margin-top: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav__btn:hover{
    color: #0C0D2E;
    background: #fff;
}



/* *******************************************88888888888888888888888888888888888888888888888888888 */

.header{
    background: #010225;
    padding-bottom: 120px;
}

.hg{
    color: #fff;
    font-size: 64px;
    width: 557px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 50px 0 0 50px;
}

.hj{
    font-size: 12px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: #fff;
    width: 617px;
    padding-left: 50px;
    line-height: 30px;
    padding-top: 10px;
}

.iphone{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.phoip{
    max-width: 825px;
    width: 100%;
    position: absolute;
    bottom: 1px;
    margin-bottom: -400px;
    z-index: 5;
}

.appic{
    padding-left: 40px;
    padding-top: 10px;
}


/* 00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

.section{
    padding-top: 200px;
     background: #0C0D2E;
     padding-bottom: 150px;
     position: relative;
     z-index: 4;
}

.lorr{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lk{
       color: #fff;
    font-size: 40px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lpp{
    color: #fff;
    font-size: 18px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 699px;
    padding-top: 20px;
    height: 120px;
    line-height: 30px;
}

.logobl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-top: 60px;
}

.hhf{
    font-size: 20px;
    color: #fff;
    padding-top: 20px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;
}

.jkl{
    font-size: 11px;
    color: #fff;
    line-height: 24px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 269px;
    padding-bottom: 15px;
}

.liop{
    font-size: 18px;
    color: #159BE8;
      font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-right: 5px;
}

.loi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lopiop{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

.section1{
    padding-top: 100px;
    padding-bottom: 100px;
}

.fyt{
     max-width: 800px;
    width: 100%;
    position: absolute;
    margin-top: -470px;
}

.hpoi{
    width: 666px;
     font-size: 40px;
    color: #fff;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 54px;
}

.boxvol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center
}

.poli{
       width: 699px;
     font-size: 12px;
    color: #fff;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
}

.boom{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.boxtext{
    display: grid;
    gap: 20px;
}

.boxtext1{
    display: grid;
    gap: 20px;
}

.lomka{
    text-align: right;
    padding-right: 15px;
}

.lomka1{
    text-align: left;
    padding-left: 15px;
}

.pum{
    font-size: 20px;
    color: #fff;
     font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-top: 5px;
}

.yup{
     font-size: 16px;
    color: #fff;
     font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
    width: 339px;
    line-height: 24px;
}

/* 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

.section2{
    background: #010225;
    padding-top: 100px;
    padding-bottom: 50px;
}

.noop{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bhohh{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ty{
     font-size: 18px;
    color: #159BE8;
     font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.cdff{
    padding-left: 30px;
}

.pui{
  font-size: 40px;
  padding-top: 20px;
    color: #fff;
     font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 456px;
    line-height: 54px;
}

.vb{
    padding-top: 10px;
    font-size: 12px;
    color: #fff;
     font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 617px;
    line-height: 30px;
}

.lgfgffff{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.boxnop{
    padding-top: 30px;
}

.jggg{
    padding-top: 5px;
    font-size: 20px;
    color: #fff;
     font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.iiip{
        padding-top: 10px;
    font-size: 11px;
    color: #fff;
     font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 269px;
    line-height: 24px;
}

.hih{
    padding-left: 5px;
}

.lilopppp{
    position: relative;
    z-index: 5;
    margin-top: 50px;
    font-size: 16px;
    color: #fff;
     font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: #159BE8;
    border-radius: 100px;
    padding: 16px 32px;
    width: 160px;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.lilopppp:hover{
background: #fff;
color: #159BE8;
}

.kubik{
position: absolute;
    right: 1300px;
    top: 3100px;
}

/* 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

.section3{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #010225;
    padding-left: 50px;
    padding-right: 50px;
}

.h8{
    color: #159BE8;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
         font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.jk{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #fff;
    line-height: 54px;
    text-align: center;
    width: 623px;
    margin: auto;
    padding: 20px;
}

.lodfgggg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.mool{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.olo{
    display: flex;
    padding-bottom: 10px;
}

.fas{
    color: #159BE8;
    font-size: 13px;
    margin-right: 5px;
    background: #212250;
    border-radius: 5px;
    padding: 5px;
}

.hiip{
    color: #fff;
    width: 288px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pooli{
    display: flex;
}

.lol__pooli{
    display: flex;
}

.gggff{
    color: #fff;
    font-size: 18px;
    padding-bottom: 5px;
      font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    margin-top: 10px;
    margin-left: 5px;
}

.lds{
    color: #fff;
    font-size: 14px;
      font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    margin-top: 5px;
    margin-left: 5px;
}



/* 00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

.section4{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #010225;
    z-index: 10;
}

.sect__h3{
    text-align: center;
    color: #159BE8;
    font-size: 18px;
    text-transform: uppercase;
          font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
}

.sect__h1{
    color: #fff;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    font-size: 40px;
    text-align: center;
    margin: auto;
    line-height: 54px;
    width: 645px;
    padding-top: 20px;
}

.sect__p{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    margin: auto;
    text-align: center;
    width: 699px;
}

.switch {
    width: 46px;
    height: 22px;
    background: #212250;
    border-radius: 20px;
    border: 1px solid #159BE833;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.circle {
    width: 20px;
    height: 18px;
    background: #fff;
    border-radius: 20px;
    transition: 0.5s;
}

.sect__block{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.sect4__ph{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.sect__h6{
    color: #fff;
    font-size: 16px;
    padding-right: 10px;
        font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
}

.sect__h7{
    color: #fff;
    font-size: 16px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
}

.sect__p1{
    color: #159BE8;
    font-size: 14px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
}

.sect4__boom{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sect__Essentail{
    background: #0C0D2E;
    padding: 20px;
    border-top: 4px solid #159BE8;
    width: 389px;
    height: 439px;
    text-align: center;
    margin-right: 10px;
    margin-left: 50px;
}

.sect4__1{
        font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    color: #fff;
    font-size: 30px;
    padding-top: 30px;
}

.sect4__2{
     font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    color: #fff;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.sect__3{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    color: #fff;
    font-size: 16px;
    padding-top: 40px;
    line-height: 22px;
    width: 320px;
    padding-bottom: 60px;
    margin: auto;
}

.sect4__5{
    background: none;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    color: #fff;
    font-size: 16px;
    width: 200px;
    padding: 16px 32px;
    border-radius: 100px;
    border: 2px solid #fff;
    transition: 0.5s;
}

.sect4__5:hover{
    background: #fff;
    border: 2px solid #0C0D2E;
    color: #0C0D2E;
}

.sect__Pro{
    background: #0C0D2E;
    padding: 20px;
    border-top: 4px solid #F95B74;
    width: 389px;
    height: 439px;
    text-align: center;
    margin-right: 10px;
    margin-left: 20px;
}

.sect__Premium{
    background: #0C0D2E;
    padding: 20px;
    border-top: 4px solid #7C44E2;
    width: 389px;
    height: 439px;
    text-align: center;
}

.sect4__lloop{
    max-width:1325px;
    width: 100%;
    background: #0C0D2E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 150px;
    z-index: 5;
    position: relative;
    overflow: hidden ;
    max-height: 512px;
    height: 100%;
    margin-left: 50px;
}

.sect4__lloop .sect4__rolo{
    object-fit: cover;
    bottom: 150px;
    right: 950px;
    position: absolute;
    z-index: -1;
}

.sect4__lloop .sct4__rol{
    object-fit: cover;
    left: 900px;
    top: 230px;
    position: absolute;
    z-index: -1;
}

.sect4__h1{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    color: #fff;
    font-size: 40px;
}

.section4__p{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    color: #fff;
    font-size: 18px;
    width: 699px;
    line-height: 30px;
    margin-top: 20px;
    text-align: center;
}

.sectn4__btn{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    color: #fff;
    font-size: 16px;  
    width: 164px;
    border: 2px solid #fff;
    border-radius: 100px;
    padding: 16px 32px;
    transition: 0.5s;
}

.sectn4__btn:hover{
    background: #159BE8;
    border: 2px solid #159BE8;
}

.moi__sect4{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.sectn4__btn2{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    color: #fff;
    font-size: 16px;  
    width: 180px;
    border: 2px solid #fff;
    border-radius: 100px;
    padding: 16px 32px;    
    transition: 0.5s;
}

.sectn4__btn2:hover{
    background: #159BE8;
    border: 2px solid #159BE8;
}

/* 00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

.footer{
    background: #0C0D2E;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foot__h3{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    color: #fff;
    font-size: 30px;  
    padding-top: 20px;
    text-align: center;
}

.foot__li{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

.fa-facebook-square{
    color: #fff;
    font-size: 25px;
    padding-right: 20px;
}

.fa-twitter{
    color: #fff;
    font-size: 25px;
    padding-right: 20px;
}

.fa-instagram{
    color: #fff;
    font-size: 25px;
}

.foot__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.foot__h6{
     font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    color: #fff;
    font-size: 24px;  
    padding-top: 50px;
    text-align: center;
}

.inemail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 48px;
    background: #010225;
    border: 2px solid #282B53;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.foot__pp{
    width: 132px;
    background: #fff;
    height: 48px;
    border: 2px solid #fff;
    border-radius: 100px;
    color: #fff;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.foot__pp:hover{
    background: #159BE8;
    border: 2px solid #159BE8;
    color: #159BE8;
}

.in__email{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot__but{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot__email{
    font-size: 18px;
    padding-top: 50px;
    color: #fff;
    width: 1243.21875px;
     font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    text-align: center;
}